#
# Copyright (C) 2010-2011 Alex Smith
#
# Permission to use, copy, modify, and/or distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#

mainmenu "Kiwi Configuration"

config KERNELVERSION
        string
	option env="KERNELVERSION"

####################
menu "Build options"
####################

config TOOLCHAIN_DIR
	string "Toolchain directory"
	default "/please/change/me"
	help
	  Path to directory to store toolchain downloads and builds in.

config TOOLCHAIN_MAKE_JOBS
	int "Toolchain parallel build jobs"
	default 1
	help
	  Argument to pass to -j for make when building the toolchain.

config EXTRA_CCFLAGS
	string "Extra CCFLAGS"
	default "-O2"
	help
	  Extra compiler options for both C and C++ code.

config EXTRA_CFLAGS
	string "Extra CFLAGS"
	default ""
	help
	  Extra compiler options for C code.

config EXTRA_CXXFLAGS
	string "Extra CXXFLAGS"
	default ""
	help
	  Extra compiler options for C++ code.

config QEMU_BINARY
	string "QEMU binary"
	default "qemu-system-x86_64"
	help
	  Path to the QEMU binary to use for the qtest build target.

config QEMU_OPTS
	string "Extra QEMU options"
	default "-monitor vc:1024x768 -serial stdio -vga std -s -localtime -m 256"
	help
	  Extra options to pass to QEMU.

config EXTRA_FSIMAGE
	string "Extra filesystem image contents"
	default ""
	help
	  Path to a directory containing extra files to copy in to the generated
	  filesystem image.

config FORCE_VIDEO_MODE
	string "Force a video mode to be used"
	default ""
	help
	  If set, the bootloader configuration file will be generated with the
	  video_mode option set to this value.

#######
endmenu
#######

comment "Target system "

source "config/Kconfig.arch"
source "config/Kconfig.platform"

comment "System configuration"

config DEBUG
	bool "Debug build"
	default y
	help
	  Enable various sections of debugging code and extra checks. For the
	  kernel, this enables assertions and messages with the LOG_DEBUG log
	  level. It also disables the boot splash screen by default. The built
	  system will generally be slower, so don't enable it unless you are
	  doing kernel development or have another reason to.

menu "KBoot configuration"
source "source/boot/Kconfig"
endmenu

menu "Kernel configuration"
source "source/kernel/Kconfig"
endmenu
