#
# SPDX-FileCopyrightText: (C) Alex Smith <alex@alex-smith.me.uk>
# SPDX-License-Identifier: ISC
#

comment "Timer devices"

config DEVICE_TIMER_ARM
	bool "ARM Generic Timer"
	default y
	depends on DEVICE_BUS_DT && ARCH_ARM64
	help
	  Enable the driver for the ARM Generic Timer defined in the ARMv7/8
	  architectures.
