#
# SPDX-FileCopyrightText: (C) Alex Smith <alex@alex-smith.me.uk>
# SPDX-License-Identifier: ISC
#

comment "Network devices"

config DEVICE_NET_VIRTIO_NET
	bool "VirtIO network device"
	default y
    depends on DEVICE_BUS_VIRTIO
	help
	  Enable support for VirtIO network devices implemented by virtual machines
	  such as QEMU and VirtualBox.

