#
# SPDX-FileCopyrightText: (C) Alex Smith <alex@alex-smith.me.uk>
# SPDX-License-Identifier: ISC
#

comment "IRQ controllers"

config DEVICE_IRQ_ARM_GIC_V2
	bool "ARM GIC v2 IRQ controller"
	default y
	depends on DEVICE_BUS_DT && ARCH_ARM64
	help
	  Enable the driver for the ARM GIC v2 IRQ controller.

config DEVICE_IRQ_BCM2836_L1
	bool "BCM2836 L1 IRQ controller"
	default y
	depends on DEVICE_BUS_DT && ARCH_ARM64
	help
	  Enable the driver for the root IRQ controller on the Raspberry Pi 2+.
