#
# SPDX-FileCopyrightText: (C) Alex Smith <alex@alex-smith.me.uk>
# SPDX-License-Identifier: ISC
#

config DEVICE_CONSOLE_NS16550
	depends on ARCH_ARM64 || ARCH_X86
    def_bool y

config DEVICE_CONSOLE_PL011
	depends on ARCH_ARM64
    def_bool y
