# Copyright (C) 2010 Alex Smith
#
# Kiwi is open source software, released under the terms of the Non-Profit
# Open Software License 3.0. You should have received a copy of the
# licensing information along with the source code distribution. If you
# have not received a copy of the license, please refer to the Kiwi
# project website.
#
# Please note that if you modify this file, the license requires you to
# ADD your name to the list of contributors. This boilerplate is not the
# license itself; please refer to the copy of the license you have received
# for complete terms.

config SRCARCH
	string
	default "x86"

config TOOLCHAIN_TARGET
	string
	default "x86_64-kiwi" if ARCH_AMD64
	default "i686-kiwi" if ARCH_IA32

config ARCH_X86
	def_bool y

config ARCH_32BIT
	def_bool ARCH_IA32

config ARCH_64BIT
	def_bool ARCH_AMD64

config ARCH_LITTLE_ENDIAN
	def_bool y

config X86_NX
	bool "No-Execute (NX) support"
	default y
	help
	  Enable support for the No-Execute/Execute-Disable bit supported by
	  recent CPUs.
