#
# SPDX-FileCopyrightText: (C) Alex Smith <alex@alex-smith.me.uk>
# SPDX-License-Identifier: ISC
#

config KLOG_SIZE
	int "Kernel log buffer size"
	default 16384
	help
	  Size for the kernel log buffer (in characters).

menu "Architecture"
source "arch/Kconfig"
endmenu

########################
menu "Debugging options"
	depends on DEBUG
########################

config KMEM_TRACING
	bool "Kmem allocation tracing"
	default n
	help
	  Enable output on the debug console on every kmem allocation/free,
	  to run through utilities/alloc_stats.py.

config PAGE_TRACING
	bool "Page allocation tracing"
	default n
	help
	  Enable output on the debug console on every page allocation/free,
	  to run through utilities/alloc_stats.py.

config SLAB_STATS
	bool "Slab allocator statistics"
	default n
	help
	  Enable extra statistics in the slab allocator. This is not enabled by
	  default as it causes a slight performance hit.

config SLAB_TRACING
	bool "Slab allocation tracing"
	default n
	help
	  Enable output on the debug console on every slab allocation/free,
	  to run through utilities/alloc_stats.py.

config SLAB_GUARD
	bool "Slab allocation overrun guard"
	default n
	help
	  Guard the end of each slab allocation with a magic value that will
	  detect buffer overruns when freed.

#######
endmenu
#######

source "device/Kconfig"
source "io/fs/Kconfig"
