#
# Copyright (C) 2009-2022 Alex Smith
#
# Permission to use, copy, modify, and/or distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#

config KLOG_SIZE
	int "Kernel log buffer size"
	default 16384
	help
	  Size for the kernel log buffer (in characters).

menu "Architecture"
source "arch/Kconfig"
endmenu

########################
menu "Debugging options"
	depends on DEBUG
########################

config SLAB_STATS
	bool "Slab allocator statistics"
	default n
	help
	  Enable extra statistics in the slab allocator. This is not enabled by
	  default as it causes a slight performance hit.

config SLAB_TRACING
	bool "Slab allocation tracing output"
	default n
	help
	  Enable output on the debug console on every slab allocation/free,
	  useful to run through the allocation statistics script in the
	  utilities directory.

config SLAB_GUARD
	bool "Slab allocation overrun guard"
	default n
	help
	  Guard the end of each slab allocation with a magic value that will
	  detect buffer overruns when freed.

#######
endmenu
#######

source "device/Kconfig"
source "io/fs/Kconfig"
