#
# Copyright (C) 2010 Alex Smith
#
# Permission to use, copy, modify, and/or distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED AS IS AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#

##############
menu "Modules"
##############

comment "Filesystem modules"

config MODULE_FS_EXT2
	bool "Ext2 filesystem module"
	default y
	help
	  Enable the Ext2 filesystem module.

config MODULE_FS_EXT2_DEBUG
	bool "Ext2 module debug output"
	default n
	depends on DEBUG && MODULE_FS_EXT2
	help
	  Enable verbose debugging output from the Ext2 filesystem module.

comment "Platform-specific modules"

config MODULE_PLATFORM_BIOS
	bool "PC BIOS interrupt interface"
	default y
	depends on PLATFORM_PC
	help
	  Enable the PC BIOS interrupt interface module which allows other
	  modules to make calls to real-mode BIOS interrupts.

#######
endmenu
#######
