#
# Copyright (C) 2009-2022 Alex Smith
#
# Permission to use, copy, modify, and/or distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#

config 32BIT
	bool

config 64BIT
	bool

config SYS_SUPPORTS_LITTLE_ENDIAN
	bool

config SYS_SUPPORTS_BIG_ENDIAN
	bool

# Flag which can be used to disable userspace build while bringing up a new
# platform.
config SYS_SUPPORTS_USERSPACE
	bool

# For KBoot compatibility.
config ARCH_X86
	bool

choice
	prompt "Architecture"
	default ARCH_AMD64

config ARCH_AMD64
	bool "AMD64"
	select 64BIT
	select ARCH_X86
	select SYS_SUPPORTS_LITTLE_ENDIAN
	select SYS_SUPPORTS_USERSPACE
	help
	  Target the built system to 64-bit x86 PCs.

config ARCH_ARM64
	bool "ARM64"
	select 64BIT
	select SYS_SUPPORTS_LITTLE_ENDIAN
	help
	  Target the built system to 64-bit ARM processors.

endchoice

config ARCH
	string
	default "amd64" if ARCH_AMD64
	default "arm64" if ARCH_ARM64

config GDB_ARCH
	string
	default "i386:x86-64:intel" if ARCH_AMD64
	default "aarch64" if ARCH_ARM64

config TOOLCHAIN_TARGET
	string
	default "x86_64-kiwi" if ARCH_AMD64
	default "aarch64-kiwi" if ARCH_ARM64

config TOOLCHAIN_ARCH
	string
	default "x86_64" if ARCH_AMD64
	default "aarch64" if ARCH_ARM64

config ARCH_ASFLAGS
	string
	default ""

config ARCH_CCFLAGS
	string
	default ""

config KBOOT_TARGETS
	string
	default "bios,efi-amd64,efi-ia32" if ARCH_AMD64
	default "dt-arm64" if ARCH_ARM64

choice
	prompt "Endianness"
	default LITTLE_ENDIAN

config BIG_ENDIAN
	bool "Big endian"
	depends on SYS_SUPPORTS_BIG_ENDIAN

config LITTLE_ENDIAN
	bool "Little endian"
	depends on SYS_SUPPORTS_LITTLE_ENDIAN

endchoice
