#
# Copyright (C) 2011-2013 Alex Smith
#
# Permission to use, copy, modify, and/or distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#

config 32BIT
	bool

config 64BIT
	bool

config SYS_SUPPORTS_LITTLE_ENDIAN
	bool

config SYS_SUPPORTS_BIG_ENDIAN
	bool

config TOOLCHAIN_LLVM
	bool

config TOOLCHAIN_GCC
	bool

# For KBoot compatibility.
config ARCH_X86
	bool
	select SYS_SUPPORTS_LITTLE_ENDIAN
	select TOOLCHAIN_LLVM

choice
	prompt "Architecture"
	default ARCH_AMD64

config ARCH_AMD64
	bool "AMD64"
	select 64BIT
	select ARCH_X86
	help
	  Target the built system to 64-bit x86 processors.

config ARCH_MIPS
	bool "MIPS"
	select 32BIT
	select TOOLCHAIN_GCC
	help
	  Target the built system to MIPS processors. Endianness is determined
	  by the platform type selected.

endchoice

config ARCH
	string
	default "amd64" if ARCH_AMD64
	default "mips" if ARCH_MIPS

config TOOLCHAIN_TARGET
	string
	default "x86_64-kiwi" if ARCH_AMD64
	default "mips-kiwi" if ARCH_MIPS && BIG_ENDIAN
	default "mipsel-kiwi" if ARCH_MIPS && LITTLE_ENDIAN

config ARCH_ASFLAGS
	string
	default ""

config ARCH_CCFLAGS
	string
	default ""

choice
	prompt "Endianness"
	default LITTLE_ENDIAN

config BIG_ENDIAN
	bool "Big endian"
	depends on SYS_SUPPORTS_BIG_ENDIAN

config LITTLE_ENDIAN
	bool "Little endian"
	depends on SYS_SUPPORTS_LITTLE_ENDIAN

endchoice
