#
# Copyright (C) 2011-2013 Alex Smith
#
# Permission to use, copy, modify, and/or distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#

choice
	prompt "Platform"
	default PLATFORM_PC if ARCH_X86
	default PLATFORM_MALTA if ARCH_MIPS

config PLATFORM_PC
	bool "Standard PC"
	depends on ARCH_X86
	help
	  Target the built system to standard PCs (nearly all x86 computers).

config PLATFORM_MALTA
	bool "MIPS Malta"
	depends on ARCH_MIPS
	select SYS_SUPPORTS_BIG_ENDIAN
	select SYS_SUPPORTS_LITTLE_ENDIAN
	help
	  Target the built system to the MIPS Malta evaluation board.

endchoice

config PLATFORM
	string
	default "pc" if PLATFORM_PC
	default "malta" if PLATFORM_MALTA
