#
# Copyright (C) 2010 Alex Smith
#
# Permission to use, copy, modify, and/or distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED AS IS AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#

##############
menu "Drivers"
##############

comment "Bus managers"

config DRIVER_BUS_ATA
	bool "ATA bus manager"
	default y
	help
	  Enable the ATA bus manager. Note that this is not the actual ATA
	  device driver, it is a generic library used by ATA drivers. You will
	  need to enable the driver for your ATA device.

config DRIVER_BUS_PCI
	bool "PCI bus manager"
	default y
	help
	  Enable the PCI bus manager driver.

comment "Disk devices"

config DRIVER_DISK_AHCI
	bool "AHCI controller driver"
	default y
	depends on DRIVER_BUS_ATA && DRIVER_BUS_PCI
	help
	  Enable the AHCI SATA controller driver.
	
config DRIVER_DISK_PCI_ATA
	bool "PCI ATA controller driver"
	default y
	depends on DRIVER_BUS_ATA && DRIVER_BUS_PCI
	help
	  Enable the PCI ATA controller driver. This supports PATA (IDE)
	  controllers, and SATA controllers in IDE emulation mode.

comment "Display devices"

config DRIVER_DISPLAY_VBE
	bool "VBE display device driver"
	default y
	depends on MODULE_PLATFORM_BIOS
	help
	  Enable the VBE display device driver.

comment "Input devices"

config DRIVER_INPUT_I8042
	bool "i8042 keyboard/mouse port driver"
	default y
	depends on PLATFORM_PC
 	help
	  Enable the i8042 (PS/2) keyboard/mouse port driver.

#######
endmenu
#######
