# Copyright (C) 2010 Alex Smith
#
# Kiwi is open source software, released under the terms of the Non-Profit
# Open Software License 3.0. You should have received a copy of the
# licensing information along with the source code distribution. If you
# have not received a copy of the license, please refer to the Kiwi
# project website.
#
# Please note that if you modify this file, the license requires you to
# ADD your name to the list of contributors. This boilerplate is not the
# license itself; please refer to the copy of the license you have received
# for complete terms.

choice
	prompt "Serial port"
	default PC_SERIAL_PORT_COM1
	help
	  Which serial port to use for kernel console output.

config PC_SERIAL_PORT_DISABLED
	bool "Disabled"

config PC_SERIAL_PORT_COM1
	bool "COM1"

config PC_SERIAL_PORT_COM2
	bool "COM2"

config PC_SERIAL_PORT_COM3
	bool "COM3"

config PC_SERIAL_PORT_COM4
	bool "COM4"

endchoice

config PC_SERIAL_PORT
	int
	default 0 if PC_SERIAL_PORT_DISABLED
	default 1 if PC_SERIAL_PORT_COM1
	default 2 if PC_SERIAL_PORT_COM2
	default 3 if PC_SERIAL_PORT_COM3
	default 4 if PC_SERIAL_PORT_COM4
