#
# SPDX-FileCopyrightText: (C) Alex Smith <alex@alex-smith.me.uk>
# SPDX-License-Identifier: ISC
#

menu "Device support"

source "bus/Kconfig"
source "console/Kconfig"
source "disk/Kconfig"
source "input/Kconfig"
source "irq/Kconfig"
source "net/Kconfig"
source "timer/Kconfig"

endmenu
