#
# SPDX-FileCopyrightText: (C) Alex Smith <alex@alex-smith.me.uk>
# SPDX-License-Identifier: ISC
#

menu "Filesystem support"

config FS_EXT2
	bool "Ext2/3/4 filesystem support"
	default y
	help
	  Enable support for Ext2/3/4 filesystems.

endmenu
