#
# SPDX-FileCopyrightText: (C) Alex Smith <alex@alex-smith.me.uk>
# SPDX-License-Identifier: ISC
#

comment "Disk devices"

# Selected by ATA device drivers if enabled.
config DEVICE_DISK_ATA
	bool

config DEVICE_DISK_PCI_ATA
	bool "PCI ATA controller driver"
	default y
	select DEVICE_DISK_ATA
	depends on DEVICE_BUS_PCI
	help
	  Enable the PCI ATA controller driver. This supports PATA (IDE)
	  controllers, and SATA controllers in IDE emulation mode.
